body {
  margin: 0px 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-position: center;
  background-attachment: fixed;
}

h1, body {
  text-align: center;
}

.rounded {
  border-radius: 10px;
  border: 2px solid;
  padding: 8px;
  text-align: center;
}

canvas {
  border-radius: 20px;
  height: 90%;
  width: 90%;
  text-align: center;
  background-color: blue;
  opacity: 0.5;
}

.column {
  float:left;
  width:50%;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
}

.rounded::selection {
  outline: 10px solid red;
  border-radius: 10px;
}*

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
  opacity: 0.5;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#invitation {
  height: 600px;
  width: 90%;
  background-image: url("images/glitter2.jpg");
  opacity: 0.95;
  z-index: -1;
  font-family: cursive;
  font-weight: bold;
  font-size: 28px;
  color: blue;
}
